{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block body %}
    <div class="container-fluid">
        <div class="row" style="height: 100vh;">
            <!-- LADO ESQUERDO -->
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-center">
                <img src="{% static 'images/EmotiTEA.png' %}" class="img-fluid" style='width: 70%'/>
            </div>

            <!-- LADO DIREITO -->
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-center" style="background-color: #28B899;">
                <div class="container w-auto">
                    <h1 class="h1 text-center" style="color: white">
                        {% block title_form %}
                        {% endblock title_form %}
                    </h1>
    
                    {% if messages %}
                        <div class="row align-items-center py-4">
                            <div class="col">
                                {% include 'components/messages.html' %}
                            </div>
                        </div>
                    {% endif %}
    
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                            </button>
                            <div class="alert-message">
                                <strong>
                                    {% for error in form.non_field_errors %}
                                        {{error}}
                                    {% endfor %}
                                </strong>
                            </div>
                        </div>
                    {% endif %}

                    {% block form %}
                    {% endblock form %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}