{% extends 'users/base_auth.html' %}

{% block title %}
    EmotiTEA - Login
{% endblock title %}

{% block title_form %}
    Login
{% endblock title_form %}

{% block form %}
    <form method="post">
        {% csrf_token %}
        

        <div class="row mb-2 mt-2">
            <div class="col-md-12">
                {% include 'components/field.html' with field=form.username %}
            </div>
            <div class="col-md-12">
                {% include 'components/field.html' with field=form.password %}
            </div>
        </div>

        <div class="d-grid gap">
            <button class="btn text-white w-100" type="submit" style="background-color: #FF7512;"  >
                Entrar
            </button>
        </div>

        <div class="d-flex justify-content-around mt-3">
            <a href="{% url 'register' %}" class="text-decoration-none text-muted">Cadastrar-se</a>
            <a href="{% url 'reset_password' %}" class="text-decoration-none text-muted">Esqueci a senha</a>
        </div>
    </form>
{% endblock form %}