<div class="row mb-2 mt-2">
    <div class="col-12 col-md-6">
        {% include 'components/field.html' with field=form.father_name %}
    </div>
    <div class="col-12 col-md-6">
        {% include 'components/field.html' with field=form.father_age %}
    </div>
</div>
<div class="row mb-2 mt-2">
    <div class="col-12 col-md-6">
        {% include 'components/field.html' with field=form.father_profission %}
    </div>
    <div class="col-12 col-md-6">
        {% include 'components/field.html' with field=form.is_stepfather %}
    </div>
</div>
<div class="row mb-2 mt-2">
    <div class="col-12">
        {% include 'components/field.html' with field=form.father_workplace %}
    </div>
</div>
<div class="row mb-2 mt-2">
    <div class="col-12 col-md-6">
        {% include 'components/field.html' with field=form.mother_name %}
    </div>
    <div class="col-12 col-md-6">
        {% include 'components/field.html' with field=form.mother_age %}
    </div>
</div>
<div class="row mb-2 mt-2">
    <div class="col-12 col-md-6">
        {% include 'components/field.html' with field=form.mother_profission %}
    </div>
    <div class="col-12 col-md-6">
        {% include 'components/field.html' with field=form.is_stepmother %}
    </div>
</div>
<div class="row mb-2 mt-2">
    <div class="col-12">
        {% include 'components/field.html' with field=form.mother_workplace %}
    </div>
</div>
