{% extends 'base_dashboard.html' %}
{% load static %}
{% load base_extras %}

{% block title_content %}
    <strong>
        Monitoramento
    </strong>
{% endblock title_content %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-4">
            <a href="{% url 'monitoring_individual' student_list.0.id %}" data-toggle="tooltip" data-placement="top" title="Clique para mais informações">
                <div class="card">
                    <video width="100%" height="100%" loop autoplay muted>
                        <source src="{% static 'videos/'|addstr:videos.0 %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="card-body card-monitoring">
                        <div class="mt-2 text-center">
                                <h4 class="d-inline-block" >
                                    {{ student_list.0 }}
                                </h4>
                            </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4">
            <a href="{% url 'monitoring_individual' student_list.1.id %}" data-toggle="tooltip" data-placement="top" title="Clique para mais informações">
                <div class="card">
                    <video width="100%" height="100%" loop autoplay muted>
                        <source src="{% static 'videos/'|addstr:videos.1 %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="card-body card-monitoring">
                        <div class="mt-2 text-center">
                                <h4 class="d-inline-block" >
                                    {{ student_list.1 }}
                                </h4>
                            </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4">
            <a href="{% url 'monitoring_individual' student_list.4.id %}" data-toggle="tooltip" data-placement="top" title="Clique para mais informações">
                <div class="card">
                    <video width="100%" height="100%" loop autoplay muted>
                        <source src="{% static 'videos/'|addstr:videos.2 %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="card-body card-monitoring">
                        <div class="mt-2 text-center">
                            
                                <h4 class="d-inline-block" >
                                    {{ student_list.4 }}
                                </h4>
                            </div>
                        </div>
                </div>
            </a>
        </div>
    </div>
{% endblock content %}

{% block body_script %}
    
{% endblock body_script %}