{% load static %}

<div class="row mb-2 mt-2">
    <div class="col-12 col-md-3 d-flex justify-content-center align-items-center">
        <input type="file" name="{{ form.path.html_name }}" class="d-none" id="{{ form.path.auto_id }}" multiple accept="image/*" required onchange="inputChange(this)"/>

        <img src="{% static 'images/icons/download.svg' %}" onclick="inputButtonClick('{{ form.path.auto_id }}')" class='icon-input' title='Selecionar Imagens'/>
    </div>

    <div class="col-12 col-md-9 d-flex justify-content-center align-items-start flex-column mt-3 mb-3">
        <p class="text-dark fs-5" id="details-file">
            Adicionar fotos do aluno.
        </p>

        <p class="text-danger">
            * Enviar 1 ou mais imagens.
        </p>
    </div>

    <!--<div class="col-12 col-md-9 d-flex justify-content-center align-items-start flex-column mt-3 mb-3">
        <p class="text-dark fs-5" id="details-file">
            Adicione fotos do rosto do aluno, em diferentes posições. Essas fotos serão utilizadas para o treinamento da rede neural.
        </p>

        <p class="text-danger">
            * Para melhor treinamento da rede, envie pelo menos 20 imagens.
        </p>
    </div>-->
</div>

