{% extends 'base_dashboard.html' %}
{% load static %}


{% block title_content %}
    <strong>
        Adicionar
    </strong>
    Aluno
{% endblock title_content %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs pull-right">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1">
                                Identificação
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2">
                                Filiação
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3">
                                Treinamento
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="tab-1">
                            <h4 class="card-title"></h4>
                            asdasdas
                        </div>
                        <div class="tab-pane fade" id="tab-2">
                            <h4 class="card-title"></h4>
                            EHAUEH
                        </div>
                        <div class="tab-pane fade" id="tab-3">
                            <h4 class="card-title"></h4>
                            jtyjjt
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}