{% extends 'base_dashboard.html' %}
{% load static %}


{% block title_content %}
    <strong>
        Alunos
    </strong>
{% endblock title_content %}

{% block buttons_top %}
    <a class="btn btn-success" href="{% url 'student_create' %}">
        Adicionar Aluno
    </a>
{% endblock buttons_top %}

{% block content %}
    {% if messages %}
        <div class="row align-items-center py-4">
            <div class="col">
                {% include 'components/messages.html' %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Lista de Alunos</h5>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Aluno</th>
                            <th>Turma</th>
                            <th>Adicionado Por</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in student_list %}
                            <tr href="{% url 'student_list' %}">
                                <td>{{ student.name }}</td>
                                <td>{{ student.name_class }}</td>
                                <td>{{ student.add_by }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}