{% extends 'base_dashboard.html' %}
{% load static %}


{% block title_content %}
    <strong>
        Adicionar
    </strong>
    Aluno
{% endblock title_content %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs pull-right" id="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1">
                                Identificação
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" data-toggle="tab" href="#tab-2">
                                Filiação
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" data-toggle="tab" href="#tab-3">
                                Treinamento
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="tab-content" id="steps">
                            <div class="tab-pane fade active show" id="tab-1">
                                <h4 class="card-title"></h4>
                                
                                {% include 'base/student_form.html' with form=form %}

                                <div class="float-right">
                                    <a href="{% url 'student_list' %}" class="btn btn-danger" >Cancelar</a>
                                    <a class="btn btn-primary" onclick="toggleStep('next', 1, true)">Próximo</a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-2">
                                <h4 class="card-title"></h4>

                                {% include 'base/affiliation_form.html' with form=affiliation_form %}

                                <div class="float-right">
                                    <a href="{% url 'student_list' %}" class="btn btn-danger" >Cancelar</a>
                                    <a class="btn btn-warning" onclick="toggleStep('prev', 2)">Anterior</a>
                                    <a class="btn btn-primary" onclick="toggleStep('next', 2, true)">Próximo</a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-3">
                                <h4 class="card-title"></h4>

                                {% include 'base/photo_form.html' with form=photos_form %}

                                <div class="float-right">
                                    <a href="{% url 'student_list' %}" class="btn btn-danger" >Cancelar</a>
                                    <a class="btn btn-warning" onclick="toggleStep('prev', 3)">Anterior</a>
                                    <button class="btn btn-primary" type="submit">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_script %}
    <script src="{% static 'js/base/student_create.js' %}"></script>
    <script src="{% static 'js/input.js' %}"></script>
{% endblock body_script %}