<!-- FELICIDADE -->
<div class="row">
    <div class="col-3">
        Feliz
    </div>
    <div class="col-9">
        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-happy text-dark" style="width: 55%">
                55%
            </div>
        </div>
    </div>
</div>

<!-- TRISTEZA -->
<div class="row">
    <div class="col-3">
        Triste
    </div>
    <div class="col-9">
        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-sad" style="width: 7%">
                7%
            </div>
        </div>
    </div>
</div>

<!-- RAIVA -->
<div class="row">
    <div class="col-3">
        Raiva
    </div>
    <div class="col-9">
        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-angry" style="width: 7%">
                7%
            </div>
        </div>
    </div>
</div>

<!-- NOJO -->
<div class="row">
    <div class="col-3">
        Nojo
    </div>
    <div class="col-9">
        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-disgust" style="width: 7%">
                7%
            </div>
        </div>
    </div>
</div>

<!-- SURPRESA -->
<div class="row">
    <div class="col-3">
        Surpresa
    </div>
    <div class="col-9">
        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-surprise text-dark" style="width: 7%">
                7%
            </div>
        </div>
    </div>
</div>

<!-- MEDO -->
<div class="row">
    <div class="col-3">
        Medo
    </div>
    <div class="col-9">
        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-fear" style="width: 7%">
                7%
            </div>
        </div>
    </div>
</div>

<!-- NEUTRO -->
<div class="row">
    <div class="col-3">
        Neutro
    </div>
    <div class="col-9">
        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-neutral" style="width: 10%">
                10%
            </div>
        </div>
    </div>
</div>