{% if field.field.widget.input_type == 'checkbox'%}

    {% if field|length < 2 %}
        <div class="form-check form-switch">
            {{ field }}
            <label class="form-check-label" for="{{ field.id_for_label }}" >
                {{ field.label }}
            </label>

            {% if field.help_text %}
                {% include 'components/help.html' with field=field %}
            {% endif %}

            {% if field.errors %}
                {% include 'components/errors.hmtl' with field=field %}
            {% endif %}
        </div>
    {% else %}
        <h3>
            {{ field.label }}
        </h3>
        {% for radio in field %}
            <div class="form-check form-switch">
                {{ radio.tag }}
                
                {% if modal %}
                    <label class="form-check-label" data-toggle="modal" data-target="modal_{{ modal }}_{{ forloop.counter0 }}">
                {% else %}
                    <label class="form-check-label" for="{{ radio.id_for_label }}" >
                {% endif %}
                    {{ radio.choice_label }}
                </label>
            </div>
        {% endfor %}
    {% endif %}

{% elif readonly %}
    <div class="form-floating mb-3 fs-6">
        <input disabled class="form-control" value="{{ value }}" />
        <label>
            {{ label }}
        </label>
    </div>
{% else %}
    <div class="form-floating mb-3 fs-6">

        {{ field }}
        <label for="{{ field.id_for_label }}">
            {{ field.label }}
            {% if field.field.required %}
                <span class='text-danger'>*</span>
            {% endif %}
        </label>

        {% if field.help_text %}
            {% include 'components/help.html' with field=field %}
        {% endif %}

        {% if field.errors %}
            {% include 'components/errors.hmtl' with field=field %}
        {% endif %}

    </div>
{% endif %}
