{% if field.field.widget.input_type == 'checkbox' %}

    {{ field.label }}
    {% for radio in field %}
        <div class="form-check">
            {{ radio.tag }}
            
            {% if modal %}
                <label class="form-check-label" data-toggle="modal" data-target="modal_{{ modal }}_{{ forloop.counter0 }}">
            {% else %}
                <label class="form-check-label" for="{{ radio.id_for_label }}" >
            {% endif %}
                {{ radio.choice_label }}
            </label>
        </div>
    {% endfor %}

{% else %}
    <div class="form-floating mb-3 fs-6">

        {{ field }}
        <label for="{{ field.id_for_label }}">
            {{ field.label }}
            {% if field.field.required %}
                <span class='text-danger'>*</span>
            {% endif %}
        </label>

        {% if field.help_text %}
            <small class="form-text text-muted">
                {{ field.help_text }}
            </small>
        {% endif %}

        {% if field.errors %}
            <div class="invalid-feedback">
                {% for error in field.errors %}
                    {% if forloop.first %}
                    {% else %}, {% endif %}
                    {{ error|striptags }}
                {% endfor %}
            </div>
        {% endif %}

    </div>
{% endif %}
