{% for message in messages %}
    {% ifequal message.tags 'error' %}
        <div class="alert alert-danger alert-dismissible fade show">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endifequal %}
    {% ifequal message.tags 'info' %}
        <div class="alert alert-info alert-dismissible fade show">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endifequal %}
    {% ifequal message.tags 'success' %}
        <div class="alert alert-success alert-dismissible fade show">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endifequal %}
    {% ifequal message.tags 'warning' %}
        <div class="alert alert-warning alert-dismissible fade show">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endifequal %}
{% endfor %}