{% load static %}

<nav id="sidebar" class="sidebar collapsed">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand text-center" href="{% url 'dashboard' %}">
			<img src="{% static 'images/logo.png' %}" width="80px"/>
		</a>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Páginas
			</li>

			<li class="sidebar-item active">
				<a class="sidebar-link" href="{% url 'dashboard' %}">
					<i class="align-middle" data-feather="home"></i> <span class="align-middle">Início</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a href="#alumns" data-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle" data-feather="users"></i> <span class="align-middle">Alunos</span>
				</a>
				<ul id="alumns" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" href="{% url 'student_list' %}">Visualizar Alunos</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="{% url 'student_create' %}">Adicionar Alunos</a></li>
				</ul>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="#">
					<i class="align-middle" data-feather="monitor"></i> <span class="align-middle">Monitoramento</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a href="#anamnesis" data-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Anamneses</span>
				</a>
				<ul id="anamnesis" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" href="{% url 'anamnesis_list' %}">Visualizar Anamneses</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="{% url 'anamnesis_create' %}">Adicionar Anamnese</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="{% url 'mold_list' %}">Moldes</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="{% url 'question_list' %}">Questões</a></li>
				</ul>
			</li>
		

			<li class="sidebar-header">
				Perfil
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="#">
					<i class="align-middle" data-feather="settings"></i> <span class="align-middle">Configurações</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="{% url 'logout' %}">
					<i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Sair</span>
				</a>
			</li>
		</ul>

	
	</div>
</nav>

<div class="invisible overlay"></div>