{% extends 'base.html' %}

{% block body %}
    <div class="wrapper">
        {% include 'components/sidebar.html' %}

		<div class="main">
			{% include 'components/navbar.html' with toggle=True %}

			<main class="content">
				<div class="container container-content">
					<div class="row mb-2 mb-xl-3">
						<div class="col-auto d-sm-block">
							<h2>
								{% block title_content %}
								{% endblock title_content %}
							</h2>
						</div>
						<div class="col-auto ml-auto mt-n1">
							{% block buttons_top %}
							{% endblock buttons_top %}
						</div>
					</div>
					{% block content %}
					{% endblock content %}
				</div>
            </main>
            
		</div>
	</div>
{% endblock body %}