{% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>
            {% for error in form.non_field_errors %}
                {{error}}
            {% endfor %}
        </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<div class="form-group" style="margin: 27px 0;">
    {% include 'field.html' with field=form.username %}
</div>
<div class="form-group">
    {% include 'field.html' with field=form.password %}
</div>