{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row d-flex flex-row justify-content-center align-items-center" style="height: 80vh;">
            <div class="col-md-12 col-lg-8">
                <img src="{% static 'images/emotitea.png' %}" class="img-fluid" alt="Music"/>
            </div>
            <div class="col-md-12 col-lg-4" id="content-form">
                <h1 style="font-weight: bold; text-align: center; font-size: 2.3rem;">De Alceu Valença a
                    Zequinha de Abreu</h1>
                <h2 style="font-size: 38px; text-align: center;">Login</h2>
                {% if messages %}
                    <div class="row align-items-center py-4">
                        <div class="col">
                            {% include 'messages.html' %}
                        </div>
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {% include 'form_login.html' with form=form %}
                    <button type="submit" style="margin: 27px 0;"
                            class="btn btn-success btn-green btn-block btn-lg">Logar
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}