{% extends 'base.html' %}
{% load static %}

{% block title %}
EmotiTEA - login
{% endblock title %}

{% block body %}
<div class="container-fluid">
        <div class="row" style="height: 100vh;">
            <div class="col-6 d-flex align-items-center justify-content-center">
                <img src="{% static 'images/EmotiTEA.png' %}" class="img-fluid"/>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center" style="background-color: #28B899;">
                <h1 style="font-weight: bold; font-size: 38px; text-align: center;">Redefinir Senha</h1>
                <p>Insira o e-mail que você usou no cadastro. Nós mandaremos um e-mail com um link para você redefinir sua senha.</p>
                {% if messages %}
                    <div class="row align-items-center py-4">
                        <div class="col">
                            {% include 'messages.html' %}
                        </div>
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {% include 'form_login.html' with form=form %}
                    <button type="submit" style="margin: 27px 0; background-color: #FF7512;" class="btn btn-success btn-block" >Logar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}