{% load formset_tags %}

<form method="POST" enctype="multipart/form-data" id="form-questions" >
    {% csrf_token %}

    <div id="question_form" data-formset-prefix="{{ question_form.prefix }}" class="container-fluid">
        {{ question_form.management_form }}
        <div data-formset-body>
            {% for form in question_form %}
                <div data-formset-form>
                    <div class="row mb-2 mt-2">

                        <div class="col-md-12">
                            {% include 'components/field.html' with field=form.description %}
                        </div>

                        <div class="col-md-12">
                            {% include 'components/field.html' with field=form.type %}
                        </div>

                        <div class="col-md-12">
                            {% include 'components/field.html' with field=form.default_value %}
                        </div>


                        <div class='col-6 col-md-2 mb-3'>
                            <div class="d-none">{{ form.DELETE }}</div>
                            <button type="button" class="btn btn-danger" onclick="removeQuestion('{{ form.default_value.html_name }}')" data-formset-delete-button>
                                Remover Pergunta
                            </button>
                        </div>
                    </div>
                    
                </div>
            {% endfor %}
        </div>

        <input type="button" data-formset-add id="question_add" class='btn btn-success' value="Nova Pergunta">

        <button type="submit" class='btn btn-success'>
            Enviar
        </button>

        <script type="text/javascript">
            const form_prefix = '{{ question_form.prefix }}'
            console.log(form_prefix)
        </script>

        <script type="form-template" data-formset-empty-form>
            
            {% escapescript %}
                <div data-formset-form>
                    <div class="row mb-2 mt-2">

                        <div class="col-md-12">
                            {% include 'components/field.html' with field=question_form.empty_form.description %}
                        </div>

                        <div class="col-md-12">
                            {% include 'components/field.html' with field=question_form.empty_form.type %}
                        </div>

                        <div class="col-md-12">
                            {% include 'components/field.html' with field=question_form.empty_form.default_value %}
                        </div>


                        <div class='col-6 col-md-2 mb-3'>
                            <div class="d-none">{{ question_form.empty_form.DELETE }}</div>
                            <button type="button" class="btn btn-danger" onclick="removeQuestion('{{ question_form.empty_form.default_value.html_name }}')" data-formset-delete-button>
                                Remover Pergunta
                            </button>
                        </div>
                    </div>
                    
                </div>
            {% endescapescript %}
        </script>
    </div>
</form>